@model IQueryable<ProductItem>
@{
    string strTitle = "Панель адміністратора";
    ViewBag.Title = strTitle;
}

<div>
<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Наші продукти</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="ProductItems" asp-action="Edit" asp-route-id="">Додати продукт</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (ProductItem entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="ProductItems" asp-action="Edit" asp-route-id="@entity.Id">Редагувати</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ProductItems" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">видалити</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
        <h3>Редагувати сторінки сайту</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="HomePage">Головна</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="CatalogPage">Каталог</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="ContactsPage">Контакти</a>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Вийти" />
        </form>
    </div>
</div>


